.app-wrapper {
  width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas:
  "h h h"
  "n c c"
  "n c c";
}

.header  {grid-area: h}
.nav     {grid-area: n}
.content {grid-area: c}

.header,
.nav,
.content {border: 2px black solid}